<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Career Abroad</title>
<link rel="stylesheet" href="/static/css/career-abroad.css">
</head>

<body>
	<header>
		<nav>
			<div class="logo">My Mentor</div>
			<ul id="nav-links">
				<li><a href="main.html">Dashboard</a></li>
				<li><a href="#" id="logout">Logout</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>

	<div id="container01">
		<div id="cont01-01">
			<h2>Step-by-Step Guide to Study Abroad</h2>
			<p>We make your study abroad journey effortless with expert
				guidance at every stage. From selecting the right course to securing
				your visa, our admission consultants streamline the process so you
				can focus on your future. Here's how we make it happen:</p>
		</div>

		<div id="cont01-02">
			<div class="steps">
				<h1 class="heading1">1</h1>
				<h2>Personalized Counselling</h2>
				<p>
					One-on-one expert guidance to align your <br>goals with the
					best opportunities.
				</p>
			</div>

			<div class="steps">
				<h1 class="heading1">2</h1>
				<h2>Course Selection</h2>
				<p>Find the perfect program based on your interests and career
					aspirations.</p>
			</div>

			<div class="steps">
				<h1 class="heading1">3</h1>
				<h2>Country & University Shortlisting</h2>
				<p>Choose from top institutions in leading study destinations.</p>
			</div>

			<div class="steps">
				<h1 class="heading1">4</h1>
				<h2>Post-Exam Guidance</h2>
				<p>Get expert support after IELTS, TOEFL, GRE, or GMAT to plan
					your next steps.</p>
			</div>

			<div class="steps">
				<h1 class="heading1">5</h1>
				<h2>SOP & LOR Enhancement</h2>
				<p>Craft compelling Statement of Purpose and powerful Letter of
					Recommendation to boost your chances.</p>
			</div>

			<div class="steps">
				<h1 class="heading1">6</h1>
				<h2>Resume Building & Documentation</h2>
				<p>Craft a standout resume & ensure error-free paperwork for a
					strong application.</p>
			</div>

			<div class="steps">
				<h1 class="heading1">7</h1>
				<h2>University Applications</h2>
				<p>Assistance in preparing and submitting strong applications.</p>
			</div>

			<div class="steps">
				<h1 class="heading1">8</h1>
				<h2>Scholarship Assistance</h2>
				<p>Maximize financial aid opportunities with our expert help.</p>
			</div>

			<div class="steps">
				<h1 class="heading1">9</h1>
				<h2>Visa Processing and Interview Preparations</h2>
				<p>Expert guidance, mock tests & training for a smooth approval.</p>
			</div>
		</div>
		<a href="" id="btn-restart">Talk To Our Experts</a> <a
			href="career-guidance.html" class="btn back-btn">Back to Previous
			Page</a>
	</div>

	<footer>
		<p>© 2025 My Mentor. All rights reserved.</p>
	</footer>
</body>

</html>