<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Career Guidance</title>
<link rel="stylesheet" href="css/careerguidance.css"
	th:href="@{/css/careerguidance.css}">

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=dictionary" />

<style type="text/css">
</style>

</head>
<body>
	<header>
		<nav>
			<div class="logo">My Mentor</div>
			<ul id="nav-links">
				<li><a href="main.html">Dashboard</a></li>
				<li><a href="#" id="logout">Logout</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>

	<div>
		<div id="container01">
			<h5>OUR SERVICES</h5>
			<h2>
				Empower Your Career Journey for <br> Greater Success
			</h2>
		</div>



		<div id="container02">

			<div class="option-card" data-tilt>
				<div
					style="display: flex; justify-content: center; align-items: center; height: 30px;">
					<span class="material-symbols-outlined" style="font-size: 30px;">dictionary</span>
				</div>
				<h3>Career Guidance & Mentoring</h3>
				<p>
					Unleash your potential, achieve your goals and <br>excel in
					life with our expert guidance and support.
				</p>
				<a href="careerguidance" class="select-button">Select</a>
			</div>



			<div class="option-card" data-tilt>
				<div
					style="display: flex; justify-content: center; align-items: center; height: 3 0px;">
					<span class="material-symbols-outlined" style="font-size: 30px;">dictionary</span>
				</div>
				<h3>Restart Your Career</h3>
				<p>Unlock new opportunities, fulfill your career aspirations and
					confidently relaunch your career.</p>
				<a href="careerguidance" class="select-button">Select</a>
			</div>


			<div class="option-card" data-tilt>
				<div
					style="display: flex; justify-content: center; align-items: center; height: 30px;">
					<span class="material-symbols-outlined" style="font-size: 30px;">dictionary</span>
				</div>
				<h3>Study Abroad</h3>
				<p>Explore global education with expert guidance on
					universities, applications, scholarships, and visas.</p>
				<a href="careerguidance" class="select-button">Select</a>
			</div>
		</div>
		<div id="container03">
			<div class="option-card" data-tilt>
				<div
					style="display: flex; justify-content: center; align-items: center; height: 30px;">
					<span class="material-symbols-outlined" style="font-size: 30px;">dictionary</span>
				</div>
				<h3>Study Abroad</h3>
				<p>Explore global education with expert guidance on
					universities, applications, scholarships, and visas.</p>
				<a href="careerguidance" class="select-button">Select</a>
			</div>

			<div class="option-card" data-tilt>
				<div
					style="display: flex; justify-content: center; align-items: center; height: 30px;">
					<span class="material-symbols-outlined" style="font-size: 30px;">dictionary</span>
				</div>
				<h3>Study Abroad</h3>
				<p>Explore global education with expert guidance on
					universities, applications, scholarships, and visas.</p>
				<a href="careerguidance" class="select-button">Select</a>
			</div>
		</div>
	</div>


	<footer>
		<p>© 2025 My Mentor. All rights reserved.</p>
	</footer>

</body>
</html>