<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Career Restart</title>
<link rel="stylesheet" href="/static/css/career-restart.css">
</head>

<body>
	<header>
		<nav>
			<div class="logo">My Mentor</div>
			<ul id="nav-links">
				<li><a href="main.html">Dashboard</a></li>
				<li><a href="#" id="logout">Logout</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>

	<div id="container1">
		<h1 class="heading">Career Restart</h1>
		<p>Taking a break from your career—whether due to personal
			reasons, health, parenting, relocation, or burnout—isn’t a setback.
			It’s a pause, not the end. Now that you’re ready to step back into
			the professional world, we’re here to help you do it with clarity,
			confidence, and purpose. Here, we empower professionals like you to
			rediscover your strengths, re-align with your passions, and navigate
			a career comeback that feels just A career restart isn’t about going
			back—it’s about moving forward with intention. Whether you're
			returning after months or years, our expert counselling and
			personalised guidance will help you make a comeback that reflects who
			you are now—with a strategy for where you want to go next.</p>

		<a href="" id="btn-restart">Talk To Our Experts</a> <a
			href="career-guidance.html" class="btn back-btn">Back to Previous
			Page</a>
	</div>


	<footer>
		<p>© 2025 My Mentor. All rights reserved.</p>
	</footer>
</body>

</html>