<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Account</title>
  <link rel="stylesheet" href="/static/css/my-account.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle" />
</head>

<body>
<header>
  <nav>
    <div class="logo">My Mentor</div>
    <ul id="nav-links">
      <li><a href="main.html">Dashboard</a></li>
      <li><a href="#" id="logout">Logout</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="">Account <span class="material-symbols-outlined">account_circle</span></a></li>
    </ul>
  </nav>
</header>
<div class="container1">
  <h1 class="heading1"> My Account </h1>
  <h1 class="heading2">Welcome Dear User-name !</h1>
  <h2>OUR COURSES</h2>
  <div class="courses">
    <div class="cont1-01">
      <img src="mentor-img.jpg" alt="image" class="mentor-img">
      <div class="content">
        <span><b>Name - </b> Anshul Sharma</span>
        <span><b> Mentor Name - </b> Ayush Sharma</span>
        <span><b>Date - </b> <input type="date"></span>
        <span><b>Duration - </b> 2 hour - /</span>
        <span><b>Price - </b> RS-199 - /</span>
      </div>
    </div>
    <div class="cont1-01">
      <img src="mentor-img.jpg" alt="image" class="mentor-img">
      <div class="content">
        <span><b>Name - </b> Anshul Sharma</span>
        <span><b> Mentor Name - </b> Ayush Sharma</span>
        <span><b>Date - </b> <input type="date"></span>
        <span><b>Duration - </b> 2 hour - /</span>
        <span><b>Price - </b> RS-199 - /</span>
      </div>
    </div>
  </div>
</div>

<footer>
  <p>© 2025 My Mentor. All rights reserved.</p>
</footer>
</body>

</html>