<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Career Guidance</title>
<link rel="stylesheet" href="/static/css/course-pythn.css">
</head>

<body>
	<header>
		<nav>
			<div class="logo">My Mentor</div>
			<ul id="nav-links">
				<li><a href="main.html">Dashboard</a></li>
				<li><a href="#" id="logout">Logout</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>

	<h1 class="heading">--- COURSES ---</h1>
	<div id="courses">
		<section class="course-details">
			<h1 id="course-title">Python</h1>
			<p id="course-description">Explore the details of your selected
				support option.</p>

			<h3>Course Content:</h3>
			<p id="course-content">
				A typical <b>Python</b> course covers fundamental programming
				concepts DATA STRUCTURES And OBJECT-ORIENTED PROGRAMMING, often
				including advanced topics like WEB DEVELOPMENT, DATA SCIENCE,
				AUTOMATION.
			</p>

			<h3>
				Price: <span id="course-price">999.00 - / Rs.</span>
			</h3>
			<p>
				<strong>Category:</strong> <span id="course-category">General</span>
			</p>

			<button class="btn buy-course-btn" id="buy-now">Buy Now</button>

			<div class="consultation-options">
				<h4>Choose Consultation Type:</h4>
				<button class="btn video-call-btn" id="whatsapp-video-call">Start
					Video Call via WhatsApp</button>
				<button class="btn phone-call-btn" id="phone-call">Make
					Phone Call</button>
			</div>
		</section>

		<section class="course-details">
			<h1 id="course-title">Java</h1>
			<p id="course-description">Explore the details of your selected
				support option.</p>

			<h3>Course Content:</h3>
			<p id="course-content">
				A typical <b>JAVA</b> course covers fundamental programming concepts
				DATA STRUCTURES And OBJECT-ORIENTED PROGRAMMING, often including
				advanced topics like WEB DEVELOPMENT, DATA SCIENCE, AUTOMATION.
			</p>

			<h3>
				Price: <span id="course-price">1999.00 - / Rs.</span>
			</h3>
			<p>
				<strong>Category:</strong> <span id="course-category">General</span>
			</p>

			<button class="btn buy-course-btn" id="buy-now">Buy Now</button>

			<div class="consultation-options">
				<h4>Choose Consultation Type:</h4>
				<button class="btn video-call-btn" id="whatsapp-video-call">Start
					Video Call via WhatsApp</button>
				<button class="btn phone-call-btn" id="phone-call">Make
					Phone Call</button>
			</div>
		</section>
	</div>
	<a href="career-guidance.html" class="btn back-btn">Back to
		Previous Page</a>

	<footer>
		<p>© 2025 My Mentor. All rights reserved.</p>
	</footer>
</body>

</html>



